---
import Logo from './logo.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pronto ...</title>
	</head>
	<body>
		<main class="w-full h-screen bg-[#2B509F] flex flex-col items-center justify-center">
        <figure class=" w-56 mb-4">
          <Logo></Logo>
        </figure>
    </main>
	</body>
</html>
